{%- if not document.section_contents -%}
  <sdoc-main-placeholder data-testid="document-root-placeholder">
    The document is empty.
    <br/>Start adding text, sections, and requirements.
  </sdoc-main-placeholder>
{%- endif -%}
